Repository kuslosolodka/notes-app: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:prettify, npm run lint:js

feat: + note component
  .eslintrc.cjs
  index.html
  main.js
  package.json
  public/.gitkeep
  public/vite.svg
  src/components/note/note.js
  src/components/note/note.module.css
  src/counter.js
Due: npm run lint:prettify, npm run lint:js

feat: + note list component
  src/components/notes-list/notes-list.js
  src/components/notes-list/notes-list.module.css
Due: npm run lint:prettify, npm run lint:js

feat: + modal component
  src/components/common/modal/modal.js
Due: npm run lint:prettify, npm run lint:js

feat: + table component
  src/components/common/table/table.js
Due: npm run lint:prettify, npm run lint:js

feat: + notes page
  src/pages/notes.js
Due: npm run lint:prettify, npm run lint:js

feat: + app component
  src/main.js
Due: npm run lint:prettify, npm run lint:js

style: + global styles
  src/styles/global-styles.module.css
Due: none

feat: + note editing feature
  src/components/note/note.js
  src/components/notes-list/notes-list.js
Due: npm run lint:prettify, npm run lint:js

feat: + note deleting feature
  src/components/note/note.js
  src/components/notes-list/notes-list.js
Due: npm run lint:prettify, npm run lint:js

feat: + note archiving feature
  src/components/notes-list/notes-list.js
Due: npm run lint:prettify, npm run lint:js

feat: + note adding feature
  src/components/notes-list/notes-list.js
Due: npm run lint:prettify, npm run lint:js

feat: + summary table
  src/components/notes-list/notes-list.js
Due: npm run lint:prettify, npm run lint:js

feat: + button component
  src/components/common/button/button.js
  src/components/common/button/button.module.css
Due: npm run lint:prettify, npm run lint:js

refactor: +common comps in common file
  src/components/common/common.js
  src/components/note/note.js
  src/components/notes-list/notes-list.js
Due: npm run lint:prettify, npm run lint:js

style: + components styling
  src/components/common/button/button.module.css
  src/components/common/modal/modal.js
  src/components/common/modal/modal.module.css
  src/components/common/table/table.js
  src/components/common/table/table.module.css
  src/components/note/note.js
  src/components/note/note.module.css
  src/components/notes-list/notes-list.js
  src/components/notes-list/notes-list.module.css
Due: npm run lint:prettify, npm run lint:js

style: + button styles for all buttons
  .lintstagedrc.json
  src/components/common/button/button.js
  src/components/common/button/button.module.css
  src/components/common/modal/modal.module.css
  src/components/common/table/table.module.css
  src/components/note/note.js
  src/components/notes-list/notes-list.js
  src/components/notes-list/notes-list.module.css
Due: npm run lint:prettify, npm run lint:js

feat!: + stylelint in project
  .stylelintrc.json
  package-lock.json
  package.json
  src/styles/global-styles.module.css
Due: npm run lint:prettify

style: + styling for all buttons
  index.html
  src/components/common/button/button.module.css
  src/components/note/note.js
  src/components/notes-list/notes-list.js
Due: npm run lint:prettify, npm run lint:js

chore: - unused eslint plugins
  .eslintrc.cjs
  package-lock.json
  package.json
Due: npm run lint:prettify

docs: + readme
  README.md
Due: npm run lint:prettify

chore: + prepare script
  package.json
Due: npm run lint:prettify

docs: + eslint plugin airbnb base in eslint rules
  README.md
Due: npm run lint:prettify

chore: + off rules for notes list file
  .eslintrc.cjs
  src/components/notes-list/notes-list.js
Due: npm run lint:prettify, npm run lint:js

style: + table styling using modules
  src/components/common/table/table.js
  src/components/common/table/table.module.css
Due: npm run lint:prettify, npm run lint:js

chore: * linting for css in lintstaged file
  .lintstagedrc.json
Due: npm run lint:prettify

style: * media query
  src/components/common/table/table.module.css
Due: none

style: * styles for note component
  src/components/note/note.js
  src/components/note/note.module.css
Due: npm run lint:prettify, npm run lint:js

fix: * createdAt date in mock data
  src/components/notes-list/notes-list.js
Due: npm run lint:prettify, npm run lint:js

feat: + table component in render method
  src/components/note/note.js
  src/components/note/note.module.css
  src/components/notes-list/notes-list.js
Due: npm run lint:prettify, npm run lint:js

feat: + accessibility for modal
  src/components/common/modal/modal.js
  src/components/common/modal/modal.module.css
Due: npm run lint:prettify, npm run lint:js

fix: using of at in accessibility function
  src/components/common/modal/modal.js
Due: npm run lint:prettify, npm run lint:js

fix: using of styles in app component
  src/main.js
Due: npm run lint:prettify, npm run lint:js

docs: - local setup section
  README.md
Due: npm run lint:prettify

style: + media param
  src/components/note/note.module.css
Due: none

chore!: * prettier config rules
  .eslintrc.cjs
  .prettierrc
  commitlint.config.cjs
  index.html
  src/components/common/button/button.js
  src/components/common/common.js
  src/components/common/modal/modal.js
  src/components/common/table/table.js
  src/components/note/note.js
  src/components/notes-list/notes-list.js
  src/main.js
  src/pages/notes.js
Due: npm run lint:prettify, npm run lint:js

Path conditions:
  npm run lint:prettify: any of: *.{json,md,scss,html,js}
  npm run lint:js: any of: src/**/*.js
